<div class="modal">
  <div class="frame">
    <p>{{"INFO_MODAL.DESC" | translate }}</p>

    <p class="light-img">
      {{'INFO_MODAL.GITHUB' | translate }}
      <img class="light-img" src="./assets/img/github-mark-black.svg" alt="Github Logo"/>&nbsp;
      <a class="gh-link-light" href="https://github.com/StephanieHhnbrg/chinese-caligraphy" target="_blank">GitHub</a>
    </p>

    <p class="dark-img">
      {{'INFO_MODAL.GITHUB' | translate }}
      <img class="dark-img" src="./assets/img/github-mark-white.svg" alt="Github Logo"/>&nbsp;
      <a class="gh-link-dark" href="https://github.com/StephanieHhnbrg/chinese-caligraphy" target="_blank">GitHub</a>
    </p>
  </div>
</div>

