.sidecar {
  padding-left: 10px;
  padding-top: 25px;
  border-right: dimgrey 1px solid;
  width: 20vw !important;
  overflow-y: hidden;
}

@media only screen and (max-width: 420px) {
  .sidecar {
    width: 95vw !important;
  }

  .menu-item {
    margin-top: 20px;
  }

}

.sidecar-container, .sidecar, mat-drawer {
  height: 100vh;
  background-color: transparent;
  color: inherit;
}

.menu-item {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  padding: 5px;
}

.menu-item:hover {
  cursor: pointer;
}

.open-button {
  margin-top: 15px;
}
