<div class="frame" *ngIf="radical">
  <div class="row">
    <span class="index-title">#<span *ngIf="radical.index<10">0</span><span *ngIf="radical.index<100">0</span>{{radical.index}}</span>
    <h5>&nbsp;&nbsp;&nbsp;{{radical.pinyin}}</h5>
  </div>

  <div class="row">
    <div class="grey-box-parent">
      <div class="grey-box mat-elevation-z8">
        <span class="emoji">{{radical.emoji}}</span>
        {{radical.sign}}
      </div>
    </div>

    <div class="radical-desc">
      <span>{{getRadicalTranslation(radical)}}<br /></span>
      <small *ngIf="radical.tooltip">{{getInstantedTooltip(radical.tooltip!)}}<br /></small>
      <small *ngIf="radical.compare">{{"TOOLTIP.COMPARE" | translate}} {{radical.compare}}<br /></small>
      <small *ngIf="radical.long">{{"TOOLTIP.SHORT_FORM" | translate}} {{radical.long}}<br /></small>
      <small *ngIf="radical.short">{{"TOOLTIP.LONG_FORM" | translate}} {{radical.short}}<br /></small>
      <small *ngIf="radical.original">{{"TOOLTIP.ORIGINAL" | translate}}: {{radical.original}}<br /></small>
      <small *ngIf="radical.variant">{{"TOOLTIP.VARIANT" | translate}}: {{radical.variant}}<br /></small>
    </div>
  </div>

  <p>{{"RADICAL_OVERVIEW.OCCURENCES" | translate }} ({{getRadicalsOccurences(radical).length}})</p>

  <div class="row occurences">
    <div class="character" *ngFor="let c of getRadicalsOccurences(radical)">
      <div class="hanzi mat-elevation-z4">
        {{c.hanzi}}
        <div class="pinyin">
          {{c.pinyin}} ({{ c.translationKey | translate }})
        </div>
      </div>
    </div>
  </div>
</div>
