.grey-box-parent {
  margin-right: 20px;
  margin-bottom: 20px;
}

.grey-box {
  background-color: darkred;
  color: white;
  height: 100px;
  width: 150px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  display:table-cell;
  vertical-align: middle;
  font-size: xx-large;
}

.emoji {
  display: none;
}

.grey-box:hover .emoji {
  display: block;
}


.occurences {
  flex-wrap: wrap;
  height: 70px;
  overflow-y: scroll;
}

.character {
  display: inline-block;
  flex-direction: column;
  margin-bottom: 10px;
}

.character:hover {
  font-size: x-large;
  cursor: zoom-in;
}

.hanzi {
  border-radius: 10px;
  border: 1px solid dimgrey;
  width: auto;
  padding: 5px 3px 3px;
  text-align: center;
  margin-right: 10px;
}

.pinyin {
  font-size: xx-small;
  text-align: center;
  padding: 3px;
  white-space: nowrap;
}
