<div class="sidecar">
  <mat-icon class="close-icon" (click)="closeDrawer()">close</mat-icon>
  <h3>{{"SIDECAR.TITLE" | translate}}</h3>
  <p [translate]="'SIDECAR.CHARACTERS_FOUND'" [translateParams]="{amount: characters.length, radicals: radicals}"></p>

  <div>
    <div class="word row" *ngFor="let c of characters">
      <div class="character">
        <div class="hanzi mat-elevation-z8">
          <span class="emoji">{{c.emoji}}</span>
          {{c.hanzi}}
          <div class="pinyin">
            {{c.pinyin}} ({{ c.translationKey | translate }})
          </div>
        </div>
      </div>

      <div class="compositions row">
        <div class="composition row" *ngFor="let comb of c.composition; let i = index">
          <div class="radical mat-elevation-z8"
               [ngClass]="{'highlighted': isSelectedRadical(sign)}"
               [matTooltip]="getTooltip(sign)" matTooltipPosition="above"
               matTooltipClass="radical-tooltip"
               (click)="scrollToRadical(sign)"
               *ngFor="let sign of getComposition(comb)">
            {{sign}}
          </div>
          <span class="plus" *ngIf="i < c.composition.length-1">+</span>
        </div>
      </div>

    </div>


  </div>
</div>
