#radical-overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95vw;
  max-width: 95vw;
  padding: 25px;
}

.mat-container {
  background-color: transparent;
  color: inherit;
  border-radius: 0;
}

mat-drawer-container {
  max-width: 100vw;
}

app-radical-carousel {
  width: 100vw;
}

mat-sidenav {
  width: 20vw;
}

.reduced-width-72 {
  width: 72vw !important;
}

.reduced-width-70 {
  width: 70vw !important;
}

.example-left {
  min-width: 150px;
  padding-right: 10px;
}

mat-button-toggle-group {
  float: right;
  transform: scaleY(85%);
  margin-bottom: 10px;
}
