<div id="radical-overview-top">&nbsp;</div>
<div id="radical-overview">
  <div>
    <h1>{{"RADICAL_OVERVIEW.TITLE" | translate }}</h1>
    <p>{{"RADICAL_OVERVIEW.INTRO" | translate}}</p>
    <p>{{"RADICAL_OVERVIEW.OVERVIEW" | translate}}</p>

    <div>
      <button class="sort-button" mat-icon-button aria-label="Sorting" [matMenuTriggerFor]="sort_menu">
        <mat-icon aria-hidden="false" fontIcon="sort"></mat-icon>
      </button>
      <mat-menu #sort_menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="switchSortingCriteria('index')">{{"RADICAL_OVERVIEW.SORT.INDEX" | translate}}</button>
        <button mat-menu-item (click)="switchSortingCriteria('occurence')">{{"RADICAL_OVERVIEW.SORT.OCCURENCE" | translate}}</button>
      </mat-menu>

      <mat-button-toggle-group [value]="view" [hideSingleSelectionIndicator]="true">
        <mat-button-toggle value="single" (change)="changeView('single')"><mat-icon>view_carousel</mat-icon> {{"VIEW.SINGLE" | translate }}</mat-button-toggle>
        <mat-button-toggle value="grid" (change)="changeView('grid')"><mat-icon>grid_on</mat-icon> {{"VIEW.GRID" | translate }}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <app-radical-grid *ngIf="view == 'grid'"></app-radical-grid>
  <app-radical-carousel *ngIf="view == 'single'"></app-radical-carousel>
</div>

<div>
  <div class="row" style="margin: 25px;">
    <mat-icon aria-hidden="false" fontIcon="info" style="width: 50px;"></mat-icon>
    <small>{{"RADICAL_OVERVIEW.HINT" | translate}}</small>
  </div>

  <div class="frame">
    <p>{{"RADICAL_OVERVIEW.HINT2" | translate}}</p>

    <div class="row">
      <span class="example-left">{{"RADICAL_OVERVIEW.EXAMPLE_1.TITLE" | translate}}</span>
      <small>{{"RADICAL_OVERVIEW.EXAMPLE_1.SUB" | translate}}</small>
    </div>

    <div class="row">
      <span class="example-left">{{"RADICAL_OVERVIEW.EXAMPLE_2.TITLE" | translate}}</span>
      <small>{{"RADICAL_OVERVIEW.EXAMPLE_2.SUB" | translate}}</small>
    </div>
  </div>

  <p>&nbsp;</p>
</div>


