<div class="frame">
  <h1>{{"PINYIN.TITLE" | translate}}</h1>
  <p>{{"PINYIN.PINYIN_INTRODUCTION" | translate}}</p>

  <p>{{"PINYIN.TONE_INTRODUCTION" | translate}}</p>
  <ul>
    <li>{{"PINYIN.TONE_1" | translate}}</li>
    <li>{{"PINYIN.TONE_2" | translate}}</li>
    <li>{{"PINYIN.TONE_3" | translate}}</li>
    <li>{{"PINYIN.TONE_4" | translate}}</li>
  </ul>

  <p>&nbsp;</p>

  <p>{{"PINYIN.DOUBLE_VOCALS.EXPLANATION" | translate}}</p>
  <ol>
    <li>{{"PINYIN.DOUBLE_VOCALS.RULE_1" | translate}}</li>
    <li>{{"PINYIN.DOUBLE_VOCALS.RULE_2" | translate}}</li>
    <li>{{"PINYIN.DOUBLE_VOCALS.RULE_3" | translate}}</li>
  </ol>

  <p>&nbsp;</p>

  <p>{{"PINYIN.CHANGING_INTONATION.EXPLANATION" | translate}}</p>
  <ul>
    <li>{{"PINYIN.CHANGING_INTONATION.2_TONES" | translate}}</li>
    <li>{{"PINYIN.CHANGING_INTONATION.3_TONES" | translate}}</li>
    <li>{{"PINYIN.CHANGING_INTONATION.4_TONES" | translate}}</li>
  </ul>
  <p>{{"PINYIN.CHANGING_INTONATION.BU" | translate}}</p>
  <ul>
    <li>{{"PINYIN.CHANGING_INTONATION.BU_EXAMPLE_1" | translate}}</li>
    <li>{{"PINYIN.CHANGING_INTONATION.BU_EXAMPLE_2" | translate}}</li>
  </ul>
</div>
<p>&nbsp;</p>
