html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.darkMode {
  background-color: #161215;
  color: white;
}

.lightMode {
  background-color: white;
  color: #161215;
}

.darkMode .light-img {
  visibility: hidden;
}

.darkMode .dark-img {
  visibility: visible;
}

.lightMode .dark-img {
  visibility: hidden;
}

.lightMode .light-img {
  visibility: visible;
}

.lightMode .modal {
  background-color:white;
}

.frame {
  margin: 25px;
  padding: 25px;
  border-radius: 25px;
  border: dimgrey 1px solid;
}

.row {
  display: flex;
  flex-direction: row;
}

.lightMode .mat-button-toggle-appearance-standard {
  color: dimgrey;
}

.lightMode .mat-button-toggle-appearance-standard.mat-button-toggle-checked,
.lightMode .carousel .mat-mdc-icon-button {
  background-color: #42008a;
}


.close-icon {
  float: right;
  font-size: smaller;
  cursor: pointer;
}


.close-icon {
  float: right;
  font-size: smaller;
}

.close-icon:hover {
  color: dimgrey;
}
